<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- <import resource="classpath:/com/dummy/myerp/consumer/db_test.properties" 
		/> -->

	<!-- <import resource="classpath:/com/dummy/myerp/business/transactionContext.xml" 
		/> -->

	<!-- ==================== Consumer ==================== -->
	<!-- AbstractDbConsumer -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass"
			value="com.dummy.myerp.consumer.db.AbstractDbConsumer" />
		<property name="targetMethod" value="configure" />
		<property name="arguments">
			<map>
				<entry value-ref="dataSourceMYERP">
					<key>
						<value type="com.dummy.myerp.consumer.db.DataSourcesEnum">MYERP</value>
					</key>
				</entry>
			</map>
		</property>
	</bean>


	<!-- ==================== Consumer-Proxy ==================== -->

	<!-- ConsumerHelper -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass"
			value="com.dummy.myerp.consumer.ConsumerHelper" />
		<property name="targetMethod" value="configure" />
		<property name="arguments">
			<list>
				<ref bean="daoProxy" />
			</list>
		</property>
	</bean>


	<!-- DaoProxy -->
	<bean id="daoProxy"
		class="com.dummy.myerp.consumer.dao.impl.DaoProxyImpl"
		factory-method="getInstance">
		<property name="comptabiliteDao" ref="ComptabiliteDaoImpl" />
	</bean>


	<!-- ==================== Databases ==================== -->
	<!-- <bean id="dataSourceMYERP" class="com.dummy.myerp.technical.util.spring.NullFactoryBean"> 
		<constructor-arg value="javax.sql.DataSource"/> </bean> -->

	<bean id="dataSourceTicketConfiguration"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location"
			value="classpath:/com/dummy/myerp/consumer/db_test.properties" />
	</bean>

	<bean id="dataSourceMYERP"

		class="org.apache.commons.dbcp2.BasicDataSourceFactory"
		factory-method="createDataSource" destroy-method="close">
		<constructor-arg ref="dataSourceTicketConfiguration" />
	</bean>

<!-- 	<bean id="txManagerMYERP"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceMYERP" />
	</bean> -->


	<!-- ========== SQL ========== -->
	<import resource="sqlContext.xml" />
</beans>
